@mixin display-flex-row(){
    display: flex;
    justify-items: center;
    align-items: center;
}

@mixin display-flex-column(){
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

@mixin maintitle(){
    font-size: 3.8em;
    letter-spacing: 0.1em;
    text-align: center;
    color: white;
    text-transform: uppercase;
}